#main-websocket-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #222;
  color: var(--accent-color-main);
  padding: 1rem;
  margin: 1rem;
  line-height: 1;
  font-size: 2rem;
  outline: thin solid var(--accent-color-main);
}